name: Docker Build

# Controls when the workflow will run
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    tags:
      - '*.*.*'
  pull_request:
    branches:
      - 'main'

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
    permissions:
      contents: read  # Required to check out repository code
      packages: write # Required to push Docker images
    steps:
      # Get the repository's code
      - name: Checkout
        uses: actions/checkout@v5

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      # https://github.com/docker/login-action
      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/docker/metadata-action
      - name: Docker meta
        id: meta_webhook_docker
        uses: docker/metadata-action@v5
        with:
          images: |
            angelxehg/webhook-docker-cli
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}

      # https://github.com/docker/build-push-action
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: |
            linux/386
            linux/amd64
            linux/arm/v6
            linux/arm/v7
            # linux/arm64 # Not supported by docker:28.5.2-cli-alpine3.22
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta_webhook_docker.outputs.tags }}
          labels: ${{ steps.meta_webhook_docker.outputs.labels }}
